@font-face {
    font-family: "KozGoPr6N Heavy";
    src: url("../fonts/KozGoPr6N-Heavy.otf");
}

@font-face {
    font-family: "KozGoPr6N Medium";
    src: url("../fonts/KozGoPr6N-Medium.ttf");
}

@font-face {
    font-family: "KozGoPro";
    src: url("../fonts/KozGoPro-Bold.otf");
}

@font-face {
    font-family: "Meiryo";
    src: url("../fonts/MEIRYO.TTC");
}
/* @font-face {
    font-family: "Meiryo Bold";
    src: url("../fonts/MEIRYOB.TTC");
} */

@font-face {
    font-family: "KoburinaGoStd W6";
    src: url("../fonts/KoburinaGoStd-W6.otf");
}

@font-face {
    font-family: "HiraginoUDSansStd W6";
    src: url("../fonts/HiraginoUDSansStd-W6.otf");
}